html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width: none;
}

html, body{
	font-size: 18px;
	background-color: white;
	font: 100%/150% calibri,helvetica,sans-serif;
}

/*********   header   **********/
header {
		width: 100%;
		color: White;
		font-weight: bold;
		font-size: 35px;
		box-sizing: border-box;
		height: 70px;
		line-height: 70px;
		background-color: #BE5959;
		text-align: center;
		display: inline-table;
		padding-top: 10px;
	}

site-title {
	/* width: 33.3%; */
	display: inline;
	float: center;
	text-align: inherit;
	vertical-align: middle;
}

.topnav {
			text-align: center;
			color: red;
			font-weight: bold;
			font-size: 30px;
			/* overflow: hidden; */
			font: verdana;
			padding-top: 10px;
			padding-bottom: 20px;
			width: 100%;
			position:relative;
			display:inline-block;
	}

nav-button {
		text-align: center;
		color: red;
		font-weight: bold;
		font-size: 30px;
		overflow: hidden;
		padding-left: 50px;
	}

.footer{
		background-color: #5C90CC;
		width: 100%;
		color: black;
		font-weight: bold;
		font-size: 15px;
		box-sizing: border-box;
		height: 50px;
		line-height: 70px;
		text-align: center;
		position: relative;
		vertical-align: middle;
		margin-top:30px;
		}



/* dropdown-button {
		text-align: left;
		padding-left: 20px;
		padding-top: 0px;
		color: black;
		font-weight: bold;
		font-size: 30px;
		float: left;
		overflow: hidden;
		font: inherit;
		margin: 0;
		vertical-align: middle;
} */

.col-1 {
	border-radius:10px;
	font: verdana;
	background-color: white;
	height:30px;
	font-weight:bold;
	font-size:20px;
	width:150px;
}

.dropdown{
	border-radius:10px;
	font: verdana;
	background-color: white;
	height:50px;
	font-weight:bold;
	font-size:50%;
	width:15%;

	padding-left: 15px;
	margin-left: 15px;
	margin-top: 10px;

}

.button2 {
	border-radius:10px;
	font: verdana;
	background-color: white;
	height:30px;
	font-weight:bold;
	font-size:80%;
	width:15%;
}

.button3 {
	border-radius:10px;
	font: verdana;
	background-color: white;
	height:100px;
	font-weight:bold;
	font-size:120%;
	width:80px;
	margin: 20px;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.site-nav{
	float:left;
	width:80px;
	margin-left: 1px;
}

.site-nav-m{
	float:left;
	width:200px;
	padding-left: 5px;
	display:inline-block;
}

.site-icon {
		width: 33.3%;
		text-align: right;
		padding-right: 15px;
		padding-top: 5px;
		color: black;
		font-weight: bold;
		font-size: 30px;
		float: right;
		overflow: hidden;
		font: inherit;
		margin: 10;
		display:inline;
}

.site-icon-t {
		text-align: right;
		padding-right: 15px;
		padding-top: 5px;
		color: black;
		font-weight: bold;
		width: 33.3%;
		font-size: 30px;
		float: right;
		overflow: hidden;
		font: inherit;
		margin: 10;
		display:inline-block;
}

.site-icon-d {
		width: 33.3%;
		text-align: right;
		padding-right: 15px;
		padding-top: 5px;
		color: black;
		font-weight: bold;
		font-size: 30px;
		float: right;
		overflow: hidden;
		font: inherit;
		margin: 10;
		display:inline;
}


.mobile-icon {
		/* dislay: inline; */
		width: 5%;
		text-align: left;
		/* padding-top: 5px; */
		padding-left: 15px;
		color: black;
		float: left;
		overflow: hidden;
		font: inherit;
		margin: 10;
		display:hidden;
}

.mobile-icon img {
	display: inline-block;
	width:10pt;
	/* margin: auto; */
}

.parent{
	float:center;
	clear:none;
}

#pokeball {
    position: relative;
}

@media screen and (max-width:480px) {
		.pokeball img {
		    position: absolute;
		    top: 0px;
		    right: 0px;
				display:none!important;
		}
	}

.selected-pokemon-pic img{
	display: inline-block;
	width: 100px;
	float: center;
	padding-bottom: 20px;
	padding-top:20px;
	position:relative;
	left:40%;
}


.selected-pokemon-d {
	width: 80%;
}

#selected-pokemon-pic {
	display: inline-block;
	width: 30%;
}

#selected-pokemon-property {
	display: inline-block;
	vertical-align: top;

	width: 69%;
}

#selected-pokemon-property-t {
	display: inline-block;
	vertical-align: middle;
	width: 69%;

}

#selected-pokemon-property-title {
	display: inline-block;
	vertical-align: top;
	width: 90%;
	position:relative;
	left:5%;
}

#selected-pokemon-property-description {
	display: inline-block;
	vertical-align: bottom;
	width: 90%;
	position:relative;
	left:5%;
	padding-bottom: 20px;
}

#selected-pokemon-property {
	display: inline-block;
	/* vertical-align: top; */
	width: 69%;
}

#selected-pokemon-description {
	display: block;
	margin: 20px auto;
  border-radius: 25px;
  border: 5px solid #b30000;
  padding: 20px;
	background: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
	border: 1px solid #000000;
}

td {
	background-color: #ffffff;
	padding: 5px 40px;
	height: 100px;
}

th {
    background-color: #538cc6;
    color: white;
	text-align: center;
	padding: 5px 20px;
}

title {
		color: White;
}

/*********   article   **********/

.other-pikachu-container {
	width: 100%;
}




.pokemon-pic {
	text-align: center;
}

.pokemon-pic img {
	display: inline-block;
	width:90pt;
	margin: 0 auto;
}


/*********   section   **********/

.description {
	border-color:red;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom: 50px;
	margin-top: 10px;
	padding-top: 20px;
}

p {
	border:5px;
	border-style:solid;
	border-color:#BE5959;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	background-color:white;
}

/*********   nav   **********/

#footer-1 {
	background-color: #5C90CC;
	width: 100%;
	color: White;
	font-weight: bold;
	font-size: 15px;
	box-sizing: border-box;
	height: 50px;
	line-height: 70px;
	text-align: center;
	overflow: hidden;
	position: relative;
	right:0;
	bottom:0;
	left:0;
}

#footer-2 {
	background-color: #5C90CC;
	width: 100%;
	color: White;
	font-weight: bold;
	font-size: 15px;
	box-sizing: border-box;
	height: 70px;
	line-height: 70px;
	text-align: center;
	overflow: hidden;
	position: relative;
	right:0;
	bottom:0;
	left:0;
}




/*************** RWD **************/
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
	float:left;
	padding:15px;
}


@media only screen and (max-width: 599px) {
    /* For mobile: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
		.mobile-hidden {
			display:none !important;
		}
		.mobile-only {
			display:inline-block;
		}
		#pokemon-list-m {
			width:150px;
			display:inline-block;
			padding-bottom: 20px;
			margin-bottom: 30px;
		}

}

@media only screen and (min-width: 600px) {
    /* For tablets: */
		.col-t-1 {width: 8.33%;}
		.col-t-2 {width: 16.66%;}
		.col-t-3 {width: 25%;}
		.col-t-4 {width: 33.33%;}
		.col-t-5 {width: 41.66%;}
		.col-t-6 {width: 50%;}
		.col-t-7 {width: 58.33%;}
		.col-t-8 {width: 66.66%;}
		.col-t-9 {width: 75%;}
		.col-t-10 {width: 83.33%;}
		.col-t-11 {width: 91.66%;}
		.col-t-12 {width: 100%;}
		.site-icon-t {width:20%}
		.tablet-hidden {
			display:none !important;
		}
		#pokemon-list-t {
			width:500px;
			display:inline-block;
		}
}

@media only screen and (max-width: 767px) {
    /* For tablets: */
		.desktop-only {
			display: none !important
		}
}

@media only screen and (max-width: 599px) {
    /* For tablets: */
		.tablet-only {
			display: none !important
		}
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;display:none;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

		.desktop-hidden {
			display:none !important;
		}
		#pokemon-list-d {
			width:500px;
			display:inline;
		}


}
